#BG{
    background-size: cover;
    background-position: center;
    image-rendering: pixelated;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
  background-color: grey;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  max-width: 1000px;
  background-color: gainsboro;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: absolute;
}


#question-container {
  margin-bottom: 10px;
}

#question-text {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  color: red;
}

#answer-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  size: 30cm;
}

button {
  height: 40px;
  font-size: 16px;
  background-color: blanchedalmond;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

button:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

#controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a{
  position:absolute;
  bottom: 20px;
  right: 20px;
}