 @import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
 .title, .subtitle, .title.is-5, .label, #submitRun, #clearBoard, label{
    font-family: 'Press Start 2P', sans-serif;
    color: black;
 }

 p, .leaderboard {
    font-family: 'Press Start 2P', sans-serif;
    font-size: small;
    color:white
 }
 .input{
    font-family: 'Press Start 2P', sans-serif;
    font-size: small;
    color: black;
 }

#BG{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    image-rendering: pixelated;
}

#Back{
  font-family: 'Press Start 2P', sans-serif;
  color: white ;
}
#Back:hover{
  color:blue;
  background-color: transparent;
  text-decoration: underline;
}
a{
	position: absolute;
	bottom: 20px;
	right: 20px;
}
