body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #416767;
    color: white;

}
h1 {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}

p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.actions {
    display: flex;
    justify-content: center;
}
.actions button {
    background-color: #2E8B57;
    color: white;
    color: white;
    padding: 8px 16px;
    font-size: 30px;
    border-radius: 10px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 140px);
    grid-template-rows: repeat(2, calc(140px/2 * 3));
    justify-content: center;
    grid-gap: 16px;
}
.card {
    height: calc(140px  / 2 * 3);
    width: 140px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}
.font-image{
    width: 60px;
    height: 60px;;
}
.card.flipped {
    transform: rotateY(180deg);
}
.front, .back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    display: flex;
    top: 0;
    left: 0;
    border-radius: 10px;
}